/* Style the form to a fixed width so the form looks the same
	 even if the browser window is resize
	 comment out this style to see the difference 			 
*/
form {
	width: 46em;
}

/* Style the labels and input by aligning all input fields 
*/
label {
	float: left;
	text-align: right;
	width: 10em;
	margin-right: 1em;
}

input {
	width: 50%;
}

.textinput {
	margin: 10px;
}

/* Style radio button input to a single line
	 note that declarations are inherited 
*/
.radioinput fieldset {
	border: none;
}

.radioinput legend {
	float: left;
	text-align: right;
	width: 9em;
}

.radioinput input {
	width: 2em;
}

.radioinput label {
	float: none;
	text-align: left;
}

/* Style  button input 
	 note that declarations are inherited 
*/
.buttoninput {
	text-align: right;
}

.buttoninput input {
	width: auto;
}

input[type=text]:focus,
input[type=password]:focus {
	background-color: yellow;
}