/*
    Filename: universal.css
    Author: Ta Quang Tung
    Description: Stylesheet containing general rulesets to be used by all pages.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hind Siliguri", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rokkitt", sans-serif;
    margin: .5em 0;
}

p {
    margin: .5em 0;
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.wave-separator {
    display: block;
    width: 100%;
    margin: -1px 0;
}