.container-grid {
    width: 100%;
    max-width: 960px;
    padding: 0 3rem;
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
}

.paragraph {
    width: 100%;
    max-width: 960px;
    padding: 0 3rem;
    margin: 0 auto;
}