main {
    padding: 0 4rem;
    padding-top: 100px;
    margin: 20px auto;
    max-width: 1024px;
}

h1 {
    text-align: center;
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

.info-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.button-group {
    display: flex;
    gap: 2rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
}

.button-group * {
    display: block;
}