/*
    filename: product.css
    author: Ta Quang Tung
    created: 02/04/23
    last modified: 09/04/23
    description: Styles for product.php page.
*/

#product,
#product * {
    /* By default, the width/height assigned to an element only specify the width/height the content box. */
    /* border-box makes the width/height also account for additional padding and border. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#product * {
    font: 1em "DM Sans", sans-serif;
    color: #212529;
}

#product h1 {
    font: 2em "DM Serif Display", sans-serif;
    margin: 1em 0;
}

#product h2 {
    font: 1.5em "DM Serif Display", sans-serif;
    margin: 0.75em 0;
}

#product p {
    margin: 0.5em 0;
}

#product a {
    font-style: italic;
    text-decoration: underline;
}

/* Hover effect for anchor tag. */
#product a:hover {
    color: #6C757D;
}

#product li {
    margin-left: 2em;
}

#product article {
    width: 70%;
    padding: 0 3em;
}

#product aside {
    position: sticky;
    top: 1em;
    float: right;
    width: 25%;
    padding: 1em;
    margin: 2.5%;
    border: solid 1px #ADB5BD;
    border-radius: 0.5em;
}

#product aside table {
    width: 100%;
    /* Makes the table occupy the entire width of the aside element. */
    display: block;
    /* Setting display to block is necessary for width to take effect. */
    border-spacing: 0;
    overflow-x: auto;
    /* Prevents horizontal overflow when the content inside the table exceeds its width. A scrollbar will be created for the user to access the content */
}

#product aside th {
    padding: 0.2em 0.4em;
    background-color: #ADB5BD;
}

#product aside td {
    padding: 0.2em 0.4em;
    background-color: #DEE2E6;
}

#product aside th,
#product aside td,
#product aside tr {
    border: solid 1px #212529;
    border-collapse: collapse;
}

#product article h1 {
    text-align: center;
}

#product section {
    margin: 2em 0;
    display: flex;
    align-items: center;
}

#product section:nth-child(odd) {
    flex-direction: row-reverse;
}

#product section img {
    width: 30%;
    display: block;
    /* The box shadow below is taken from Tailwind CSS. It was chosen for its elegant look. */
    /* The property value consists of two shadows separated by a comma. Each shadow takes 5 values: offset-x, offset-y, blur radius, spread radius, and shadow color (in rgb). */
    /* Source: https://tailwindcss.com/docs/box-shadow */
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 1em;
    border: solid 1px #E9ECEF;
}

#product section:nth-child(even) div {
    width: 70%;
    margin-left: 1em;
    padding-left: 1em;
    border-left: solid 1px #ADB5BD;
}

#product section:nth-child(odd) div {
    width: 70%;
    margin-right: 1em;
    padding-right: 1em;
    border-right: solid 1px #ADB5BD;
}

#product section p {
    text-align: justify;
}

#product .order {
    text-decoration: none;
    font-style: normal;
    display: block;
    width: fit-content;
    padding: 0.4em 0.8em;
    margin-top: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #DEE2E6;
    color: #212529;
    transition: all 0.2s ease-in-out;
}

#product .order:hover {
    background-color: #212529;
    color: #F8F9FA;
}

@media screen and (max-width: 768px) {
    #product {
        display: flex;
        flex-direction: column-reverse;
    }

    #product aside,
    #product article {
        float: none;
        width: auto;
    }

    #product aside {
        position: static;
        margin: 2em;
    }

    #product section {
        /* Removes the grid layout for small enough screens. */
        display: block;
    }

    /* Adds a bottom border for all sections except the last one. */
    #product section:not(:last-child) {
        padding-bottom: 2em;
        margin-bottom: 2em;
        border-bottom: solid 1px #ADB5BD;
    }

    #product section img {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
    }

    #product section:nth-child(odd) div,
    #product section:nth-child(even) div {
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
    }

    #product section h2 {
        text-align: center;
    }
}